workflows/Oura-historical-backfill-public.json
{
  "name": "Oura historical backfill",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        480
      ],
      "id": "cbc940ce-4348-4f87-a2c1-f51da9f7a895",
      "name": "Run manually"
    },
    {
      "parameters": {
        "jsCode": "// -------------------------------------------------------\n// Set START_DATE to when you got your Oura ring.\n// END_DATE is today automatically.\n// -------------------------------------------------------\nconst START_DATE = '2026-01-06'; // <-- CHANGE THIS\n\nconst today = new Date().toISOString().slice(0, 10);\n\nreturn [{\n  start_date: START_DATE,\n  end_date: today\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        480
      ],
      "id": "4737e93f-0bf1-4ea8-9e69-b0c8835fc9c0",
      "name": "Set date range"
    },
    {
      "parameters": {
        "url": "https://api.ouraring.com/v2/usercollection/sleep",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "ouraApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start_date",
              "value": "={{ $json.start_date }}"
            },
            {
              "name": "end_date",
              "value": "={{ $json.end_date }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "3bf1aace-ece3-4079-adfa-796430398df4",
      "name": "Get sleep",
      "credentials": {
        "ouraApi": {
          "id": "YOUR_OURA_CREDENTIAL_ID",
          "name": "YOUR_OURA_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.ouraring.com/v2/usercollection/daily_sleep",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "ouraApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start_date",
              "value": "={{ $json.start_date }}"
            },
            {
              "name": "end_date",
              "value": "={{ $json.end_date }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        160
      ],
      "id": "7f92be7e-6ddd-4704-9eaa-70c623722c50",
      "name": "Get daily sleep score",
      "credentials": {
        "ouraApi": {
          "id": "YOUR_OURA_CREDENTIAL_ID",
          "name": "YOUR_OURA_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.ouraring.com/v2/usercollection/daily_activity",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "ouraApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start_date",
              "value": "={{ $json.start_date }}"
            },
            {
              "name": "end_date",
              "value": "={{ $json.end_date }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        320
      ],
      "id": "89d85fc5-75a6-4ee1-95e5-a234b7a90008",
      "name": "Get activity",
      "credentials": {
        "ouraApi": {
          "id": "YOUR_OURA_CREDENTIAL_ID",
          "name": "YOUR_OURA_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.ouraring.com/v2/usercollection/daily_readiness",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "ouraApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start_date",
              "value": "={{ $json.start_date }}"
            },
            {
              "name": "end_date",
              "value": "={{ $json.end_date }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        480
      ],
      "id": "83312fcb-ebb6-4883-9908-fe0e9afb7739",
      "name": "Get readiness",
      "credentials": {
        "ouraApi": {
          "id": "YOUR_OURA_CREDENTIAL_ID",
          "name": "YOUR_OURA_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.ouraring.com/v2/usercollection/daily_stress",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "ouraApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start_date",
              "value": "={{ $json.start_date }}"
            },
            {
              "name": "end_date",
              "value": "={{ $json.end_date }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        640
      ],
      "id": "17db633a-6e20-4175-b867-a8102ee29379",
      "name": "Get stress",
      "credentials": {
        "ouraApi": {
          "id": "YOUR_OURA_CREDENTIAL_ID",
          "name": "YOUR_OURA_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.ouraring.com/v2/usercollection/workout",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "ouraApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start_date",
              "value": "={{ $json.start_date }}"
            },
            {
              "name": "end_date",
              "value": "={{ $json.end_date }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        960
      ],
      "id": "3f716f6f-a3a9-4ef2-b019-424d467e518f",
      "name": "Get workouts",
      "credentials": {
        "ouraApi": {
          "id": "YOUR_OURA_CREDENTIAL_ID",
          "name": "YOUR_OURA_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.ouraring.com/v2/usercollection/enhanced_tag",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "ouraApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start_date",
              "value": "={{ $json.start_date }}"
            },
            {
              "name": "end_date",
              "value": "={{ $json.end_date }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        1120
      ],
      "id": "2c0cb388-3953-4023-a785-31719096e7ea",
      "name": "Get events/tags",
      "credentials": {
        "ouraApi": {
          "id": "YOUR_OURA_CREDENTIAL_ID",
          "name": "YOUR_OURA_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        0
      ],
      "id": "5bd2c63e-fcc2-4248-aa4b-4608d8388534",
      "name": "Split sleep"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        160
      ],
      "id": "a6a7e9ea-5f43-4a4a-a29b-22f08feff7b0",
      "name": "Split daily sleep"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        320
      ],
      "id": "efcea16d-b47c-4a24-a149-c3dd5b86fced",
      "name": "Split activity"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        480
      ],
      "id": "2965543c-04fd-4766-8291-04dbd9009b49",
      "name": "Split readiness"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        640
      ],
      "id": "b9a14105-e7c2-41ab-9179-cb597d7c076c",
      "name": "Split stress"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        960
      ],
      "id": "9a389a62-8abe-49df-a9d6-7fd2920520e0",
      "name": "Split workouts"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        1120
      ],
      "id": "93a9a875-3b4a-4af9-8d46-4d4f7e0f644c",
      "name": "Split events"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO oura_sleep (\n  id, day, bedtime_start, bedtime_end, type,\n  total_sleep_duration, deep_sleep_duration, rem_sleep_duration,\n  light_sleep_duration, awake_time, latency, efficiency,\n  average_heart_rate, lowest_heart_rate, average_hrv, average_breath,\n  time_in_bed, restless_periods, sleep_phase_5_min,\n  heart_rate_5_min, hrv_5_min, movement_30_sec\n) VALUES (\n  '{{ $json.id }}',\n  '{{ $json.day }}',\n  '{{ $json.bedtime_start }}',\n  '{{ $json.bedtime_end }}',\n  '{{ $json.type }}',\n  {{ $json.total_sleep_duration }},\n  {{ $json.deep_sleep_duration }},\n  {{ $json.rem_sleep_duration }},\n  {{ $json.light_sleep_duration }},\n  {{ $json.awake_time }},\n  {{ $json.latency === null ? 'null' : $json.latency }},\n  {{ $json.efficiency }},\n  {{ $json.average_heart_rate === null || $json.average_heart_rate === 0 ? 'null' : $json.average_heart_rate }},\n  {{ $json.lowest_heart_rate === null ? 'null' : $json.lowest_heart_rate }},\n  {{ $json.average_hrv === null ? 'null' : $json.average_hrv }},\n  {{ $json.average_breath === null ? 'null' : $json.average_breath }},\n  {{ $json.time_in_bed }},\n  {{ $json.restless_periods === null ? 'null' : $json.restless_periods }},\n  {{ $json.sleep_phase_5_min === null ? 'null' : \"'\" + $json.sleep_phase_5_min + \"'\" }},\n  {{ $json.heart_rate === null ? 'null' : \"'\" + JSON.stringify($json.heart_rate).replace(/'/g, \"''\") + \"'\" }},\n  {{ $json.hrv === null ? 'null' : \"'\" + JSON.stringify($json.hrv).replace(/'/g, \"''\") + \"'\" }},\n  {{ $json.movement_30_sec === null ? 'null' : \"'\" + $json.movement_30_sec + \"'\" }}\n)\nON CONFLICT (id) DO UPDATE SET\n  bedtime_start = EXCLUDED.bedtime_start,\n  bedtime_end = EXCLUDED.bedtime_end,\n  type = EXCLUDED.type,\n  total_sleep_duration = EXCLUDED.total_sleep_duration,\n  deep_sleep_duration = EXCLUDED.deep_sleep_duration,\n  rem_sleep_duration = EXCLUDED.rem_sleep_duration,\n  light_sleep_duration = EXCLUDED.light_sleep_duration,\n  awake_time = EXCLUDED.awake_time,\n  latency = EXCLUDED.latency,\n  efficiency = EXCLUDED.efficiency,\n  average_heart_rate = EXCLUDED.average_heart_rate,\n  lowest_heart_rate = EXCLUDED.lowest_heart_rate,\n  average_hrv = EXCLUDED.average_hrv,\n  average_breath = EXCLUDED.average_breath,\n  time_in_bed = EXCLUDED.time_in_bed,\n  restless_periods = EXCLUDED.restless_periods,\n  sleep_phase_5_min = EXCLUDED.sleep_phase_5_min,\n  heart_rate_5_min = EXCLUDED.heart_rate_5_min,\n  hrv_5_min = EXCLUDED.hrv_5_min,\n  movement_30_sec = EXCLUDED.movement_30_sec",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        0
      ],
      "id": "fc18a52f-5c45-453a-989a-eec5648bf644",
      "name": "Insert sleep",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO oura_daily_sleep (\n  day, score, deep_sleep, efficiency, latency,\n  rem_sleep, restfulness, timing, total_sleep\n) VALUES (\n  '{{ $json.day }}',\n  {{ $json.score === null ? 'null' : $json.score }},\n  {{ $json.contributors?.deep_sleep === null || $json.contributors?.deep_sleep === undefined ? 'null' : $json.contributors.deep_sleep }},\n  {{ $json.contributors?.efficiency === null || $json.contributors?.efficiency === undefined ? 'null' : $json.contributors.efficiency }},\n  {{ $json.contributors?.latency === null || $json.contributors?.latency === undefined ? 'null' : $json.contributors.latency }},\n  {{ $json.contributors?.rem_sleep === null || $json.contributors?.rem_sleep === undefined ? 'null' : $json.contributors.rem_sleep }},\n  {{ $json.contributors?.restfulness === null || $json.contributors?.restfulness === undefined ? 'null' : $json.contributors.restfulness }},\n  {{ $json.contributors?.timing === null || $json.contributors?.timing === undefined ? 'null' : $json.contributors.timing }},\n  {{ $json.contributors?.total_sleep === null || $json.contributors?.total_sleep === undefined ? 'null' : $json.contributors.total_sleep }}\n)\nON CONFLICT (day) DO UPDATE SET\n  score = EXCLUDED.score,\n  deep_sleep = EXCLUDED.deep_sleep,\n  efficiency = EXCLUDED.efficiency,\n  latency = EXCLUDED.latency,\n  rem_sleep = EXCLUDED.rem_sleep,\n  restfulness = EXCLUDED.restfulness,\n  timing = EXCLUDED.timing,\n  total_sleep = EXCLUDED.total_sleep",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        160
      ],
      "id": "19cd4fbc-2e9d-4b47-9f53-1735ba3cf3d7",
      "name": "Insert daily sleep score",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO oura_daily_activity (\n  day, score, active_calories, average_met_minutes, equivalent_walking_distance,\n  high_activity_met_minutes, high_activity_time, inactivity_alerts,\n  low_activity_met_minutes, low_activity_time,\n  medium_activity_met_minutes, medium_activity_time,\n  meters_to_target, non_wear_time, resting_time,\n  sedentary_met_minutes, sedentary_time,\n  steps, target_calories, target_meters, total_calories,\n  meet_daily_targets, move_every_hour, recovery_time,\n  stay_active, training_frequency, training_volume\n) VALUES (\n  '{{ $json.day }}',\n  {{ $json.score === null ? 'null' : $json.score }},\n  {{ $json.active_calories === null ? 'null' : $json.active_calories }},\n  {{ $json.average_met_minutes === null ? 'null' : $json.average_met_minutes }},\n  {{ $json.equivalent_walking_distance === null ? 'null' : $json.equivalent_walking_distance }},\n  {{ $json.high_activity_met_minutes === null ? 'null' : $json.high_activity_met_minutes }},\n  {{ $json.high_activity_time === null ? 'null' : $json.high_activity_time }},\n  {{ $json.inactivity_alerts === null ? 'null' : $json.inactivity_alerts }},\n  {{ $json.low_activity_met_minutes === null ? 'null' : $json.low_activity_met_minutes }},\n  {{ $json.low_activity_time === null ? 'null' : $json.low_activity_time }},\n  {{ $json.medium_activity_met_minutes === null ? 'null' : $json.medium_activity_met_minutes }},\n  {{ $json.medium_activity_time === null ? 'null' : $json.medium_activity_time }},\n  {{ $json.meters_to_target === null ? 'null' : $json.meters_to_target }},\n  {{ $json.non_wear_time === null ? 'null' : $json.non_wear_time }},\n  {{ $json.resting_time === null ? 'null' : $json.resting_time }},\n  {{ $json.sedentary_met_minutes === null ? 'null' : $json.sedentary_met_minutes }},\n  {{ $json.sedentary_time === null ? 'null' : $json.sedentary_time }},\n  {{ $json.steps === null ? 'null' : $json.steps }},\n  {{ $json.target_calories === null ? 'null' : $json.target_calories }},\n  {{ $json.target_meters === null ? 'null' : $json.target_meters }},\n  {{ $json.total_calories === null ? 'null' : $json.total_calories }},\n  {{ $json.contributors?.meet_daily_targets === null || $json.contributors?.meet_daily_targets === undefined ? 'null' : $json.contributors.meet_daily_targets }},\n  {{ $json.contributors?.move_every_hour === null || $json.contributors?.move_every_hour === undefined ? 'null' : $json.contributors.move_every_hour }},\n  {{ $json.contributors?.recovery_time === null || $json.contributors?.recovery_time === undefined ? 'null' : $json.contributors.recovery_time }},\n  {{ $json.contributors?.stay_active === null || $json.contributors?.stay_active === undefined ? 'null' : $json.contributors.stay_active }},\n  {{ $json.contributors?.training_frequency === null || $json.contributors?.training_frequency === undefined ? 'null' : $json.contributors.training_frequency }},\n  {{ $json.contributors?.training_volume === null || $json.contributors?.training_volume === undefined ? 'null' : $json.contributors.training_volume }}\n)\nON CONFLICT (day) DO UPDATE SET\n  score = EXCLUDED.score,\n  active_calories = EXCLUDED.active_calories,\n  steps = EXCLUDED.steps,\n  total_calories = EXCLUDED.total_calories,\n  non_wear_time = EXCLUDED.non_wear_time,\n  meet_daily_targets = EXCLUDED.meet_daily_targets,\n  move_every_hour = EXCLUDED.move_every_hour,\n  recovery_time = EXCLUDED.recovery_time,\n  stay_active = EXCLUDED.stay_active,\n  training_frequency = EXCLUDED.training_frequency,\n  training_volume = EXCLUDED.training_volume",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        320
      ],
      "id": "dc7c6cbf-5c06-4300-8f00-fa2524f2050b",
      "name": "Insert activity",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO oura_daily_readiness (\n  day, score, temperature_deviation, temperature_trend_deviation,\n  activity_balance, body_temperature, hrv_balance,\n  previous_day_activity, previous_night, recovery_index,\n  resting_heart_rate, sleep_balance\n) VALUES (\n  '{{ $json.day }}',\n  {{ $json.score === null ? 'null' : $json.score }},\n  {{ $json.temperature_deviation === null ? 'null' : $json.temperature_deviation }},\n  {{ $json.temperature_trend_deviation === null ? 'null' : $json.temperature_trend_deviation }},\n  {{ $json.contributors?.activity_balance === null || $json.contributors?.activity_balance === undefined ? 'null' : $json.contributors.activity_balance }},\n  {{ $json.contributors?.body_temperature === null || $json.contributors?.body_temperature === undefined ? 'null' : $json.contributors.body_temperature }},\n  {{ $json.contributors?.hrv_balance === null || $json.contributors?.hrv_balance === undefined ? 'null' : $json.contributors.hrv_balance }},\n  {{ $json.contributors?.previous_day_activity === null || $json.contributors?.previous_day_activity === undefined ? 'null' : $json.contributors.previous_day_activity }},\n  {{ $json.contributors?.previous_night === null || $json.contributors?.previous_night === undefined ? 'null' : $json.contributors.previous_night }},\n  {{ $json.contributors?.recovery_index === null || $json.contributors?.recovery_index === undefined ? 'null' : $json.contributors.recovery_index }},\n  {{ $json.contributors?.resting_heart_rate === null || $json.contributors?.resting_heart_rate === undefined ? 'null' : $json.contributors.resting_heart_rate }},\n  {{ $json.contributors?.sleep_balance === null || $json.contributors?.sleep_balance === undefined ? 'null' : $json.contributors.sleep_balance }}\n)\nON CONFLICT (day) DO UPDATE SET\n  score = EXCLUDED.score,\n  temperature_deviation = EXCLUDED.temperature_deviation,\n  temperature_trend_deviation = EXCLUDED.temperature_trend_deviation,\n  activity_balance = EXCLUDED.activity_balance,\n  body_temperature = EXCLUDED.body_temperature,\n  hrv_balance = EXCLUDED.hrv_balance,\n  previous_day_activity = EXCLUDED.previous_day_activity,\n  previous_night = EXCLUDED.previous_night,\n  recovery_index = EXCLUDED.recovery_index,\n  resting_heart_rate = EXCLUDED.resting_heart_rate,\n  sleep_balance = EXCLUDED.sleep_balance",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        480
      ],
      "id": "6b177a31-58ee-4306-a6be-8886ffa6f1d0",
      "name": "Insert readiness",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO oura_daily_stress (\n  day, stress_high, recovery_high, day_summary\n) VALUES (\n  '{{ $json.day }}',\n  {{ $json.stress_high === null ? 'null' : $json.stress_high }},\n  {{ $json.recovery_high === null ? 'null' : $json.recovery_high }},\n  {{ $json.day_summary === null ? 'null' : \"'\" + $json.day_summary + \"'\" }}\n)\nON CONFLICT (day) DO UPDATE SET\n  stress_high = EXCLUDED.stress_high,\n  recovery_high = EXCLUDED.recovery_high,\n  day_summary = EXCLUDED.day_summary",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        640
      ],
      "id": "7bd53218-ce45-4a65-ac8a-9bd041d3d392",
      "name": "Insert stress",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO oura_workouts (\n  id, day, activity, calories, day_start, day_end,\n  distance, intensity, label, source\n) VALUES (\n  '{{ $json.id }}',\n  '{{ $json.day }}',\n  {{ $json.activity === null ? 'null' : \"'\" + $json.activity + \"'\" }},\n  {{ $json.calories === null ? 'null' : $json.calories }},\n  {{ $json.start_datetime === null || $json.start_datetime === undefined ? 'null' : \"'\" +\n$json.start_datetime + \"'\" }},\n  {{ $json.end_datetime === null || $json.end_datetime === undefined ? 'null' : \"'\" + $json.end_datetime + \"'\" }},\n  {{ $json.distance === null ? 'null' : $json.distance }},\n  {{ $json.intensity === null ? 'null' : \"'\" + $json.intensity + \"'\" }},\n  {{ $json.label === null ? 'null' : \"'\" + $json.label.replace(/'/g, \"''\") + \"'\" }},\n  {{ $json.source === null ? 'null' : \"'\" + $json.source + \"'\" }}\n)\nON CONFLICT (id) DO UPDATE SET\n  activity = EXCLUDED.activity,\n  calories = EXCLUDED.calories,\n  day_start = EXCLUDED.day_start,\n  day_end = EXCLUDED.day_end,\n  distance = EXCLUDED.distance,\n  intensity = EXCLUDED.intensity,\n  label = EXCLUDED.label",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        960
      ],
      "id": "f844b9bd-d9e6-4cae-af68-e894d8543263",
      "name": "Insert workouts",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO oura_events (\n  id, tag_type_code, custom_name,\n  start_day, end_day, start_time, end_time, comment\n) VALUES (\n  '{{ $json.id }}',\n  {{ $json.tag_type_code === null ? 'null' : \"'\" + $json.tag_type_code + \"'\" }},\n  {{ $json.custom_name === null ? 'null' : \"'\" + $json.custom_name.replace(/'/g, \"''\") + \"'\" }},\n  {{ $json.start_day === null ? 'null' : \"'\" + $json.start_day + \"'\" }},\n  {{ $json.end_day === null ? 'null' : \"'\" + $json.end_day + \"'\" }},\n  {{ $json.start_time === null ? 'null' : \"'\" + $json.start_time + \"'\" }},\n  {{ $json.end_time === null ? 'null' : \"'\" + $json.end_time + \"'\" }},\n  {{ $json.comment === null ? 'null' : \"'\" + $json.comment.replace(/'/g, \"''\") + \"'\" }}\n)\nON CONFLICT (id) DO UPDATE SET\n  tag_type_code = EXCLUDED.tag_type_code,\n  custom_name = EXCLUDED.custom_name,\n  start_day = EXCLUDED.start_day,\n  end_day = EXCLUDED.end_day,\n  start_time = EXCLUDED.start_time,\n  end_time = EXCLUDED.end_time,\n  comment = EXCLUDED.comment",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        1120
      ],
      "id": "2246ba00-0477-4b29-80de-be3570b1340f",
      "name": "Insert events",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const START_DATE = '2026-01-07'; // zmień na swoją datę\nconst today = new Date().toISOString().slice(0, 10);\n\nconst chunks = [];\nlet cursor = new Date(START_DATE);\nconst end = new Date(today);\n\nwhile (cursor < end) {\n  const chunkEnd = new Date(cursor);\n  chunkEnd.setDate(chunkEnd.getDate() + 29);\n  \n  chunks.push({\n    start_date: cursor.toISOString().slice(0, 10),\n    end_date: (chunkEnd > end ? end : chunkEnd).toISOString().slice(0, 10)\n  });\n  \n  cursor.setDate(cursor.getDate() + 30);\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        1024
      ],
      "id": "1a018110-ef11-4f4c-b974-cf74742181f7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://api.ouraring.com/v2/usercollection/heartrate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "ouraApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start_datetime",
              "value": "={{ $json.start_date }}T00:00:00+00:00"
            },
            {
              "name": "end_datetime",
              "value": "={{ $json.end_date }}T23:59:59+00:00"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        1040
      ],
      "id": "da3fdd30-c0e2-49a2-a57c-1e1dd5269f16",
      "name": "Get heart rate",
      "credentials": {
        "ouraApi": {
          "id": "YOUR_OURA_CREDENTIAL_ID",
          "name": "YOUR_OURA_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -224,
        1056
      ],
      "id": "15a90397-6ec8-4bb6-a618-aa6ee33a2b89",
      "name": "Split heart rate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO oura_heartrate (\n  timestamp, bpm, source\n) VALUES (\n  '{{ $json.timestamp }}',\n  {{ $json.bpm === null ? 'null' : $json.bpm }},\n  {{ $json.source === null ? 'null' : \"'\" + $json.source + \"'\" }}\n)\nON CONFLICT (timestamp) DO NOTHING",
        "options": {
          "queryBatching": "independently"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        1136
      ],
      "id": "6472aa46-d468-41bc-a9af-d2f34de3c0a5",
      "name": "Insert heart rate",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH period_days AS (\n  SELECT DISTINCT start_day AS day\n  FROM oura_events\n  WHERE tag_type_code = 'tag_generic_period'\n),\nperiod_starts AS (\n  SELECT day AS start_day\n  FROM period_days pd\n  WHERE NOT EXISTS (\n    SELECT 1 FROM period_days pd2\n    WHERE pd2.day = pd.day - INTERVAL '1 day'\n  )\n),\ncycle_lengths AS (\n  SELECT\n    start_day,\n    LEAD(start_day) OVER (ORDER BY start_day) AS next_start,\n    LEAD(start_day) OVER (ORDER BY start_day) - start_day AS cycle_length\n  FROM period_starts\n),\nday_cycle AS (\n  SELECT\n    dr.day,\n    cl.start_day        AS cycle_start,\n    cl.cycle_length,\n    (dr.day - cl.start_day + 1) AS cycle_day,\n    dr.temperature_deviation    AS temp_deviation\n  FROM oura_daily_readiness dr\n  CROSS JOIN LATERAL (\n    SELECT start_day, cycle_length\n    FROM cycle_lengths\n    WHERE start_day <= dr.day\n    ORDER BY start_day DESC\n    LIMIT 1\n  ) cl\n  WHERE dr.temperature_deviation IS NOT NULL\n),\nphase_calc AS (\n  SELECT\n    dc.*,\n    CASE\n      WHEN EXISTS (\n        SELECT 1 FROM period_days pd WHERE pd.day = dc.day\n      )                                               THEN 'menstrual'\n      WHEN dc.cycle_day <= 13                         THEN 'follicular'\n      WHEN dc.temp_deviation > 0.15                   THEN 'luteal'\n      WHEN dc.cycle_day > 13                          THEN 'luteal'\n      ELSE                                                 'unknown'\n    END AS phase,\n    CASE\n      WHEN dc.temp_deviation < -0.1                   THEN 'low'\n      WHEN dc.temp_deviation BETWEEN -0.1 AND 0.1     THEN 'stable'\n      WHEN dc.temp_deviation BETWEEN 0.1 AND 0.3      THEN 'rising'\n      WHEN dc.temp_deviation > 0.3                    THEN 'high'\n      ELSE                                                 'unknown'\n    END AS temperature_phase\n  FROM day_cycle dc\n)\nINSERT INTO oura_cycles (\n  day, cycle_start, cycle_day, cycle_length, phase,\n  temperature_phase, temp_deviation,\n  is_period, has_migraine, has_pms, has_cramps\n)\nSELECT\n  pc.day,\n  pc.cycle_start,\n  pc.cycle_day,\n  pc.cycle_length,\n  pc.phase,\n  pc.temperature_phase,\n  pc.temp_deviation,\n  EXISTS (SELECT 1 FROM oura_events e\n          WHERE e.start_day = pc.day\n            AND e.tag_type_code = 'tag_generic_period')    AS is_period,\n  EXISTS (SELECT 1 FROM oura_events e\n          WHERE e.start_day = pc.day\n            AND e.tag_type_code = 'tag_generic_migraine')  AS has_migraine,\n  EXISTS (SELECT 1 FROM oura_events e\n          WHERE e.start_day = pc.day\n            AND e.tag_type_code = 'tag_generic_pms')       AS has_pms,\n  EXISTS (SELECT 1 FROM oura_events e\n          WHERE e.start_day = pc.day\n            AND e.tag_type_code = 'tag_generic_cramps')    AS has_cramps\nFROM phase_calc pc\nON CONFLICT (day) DO UPDATE SET\n  cycle_start       = EXCLUDED.cycle_start,\n  cycle_day         = EXCLUDED.cycle_day,\n  cycle_length      = EXCLUDED.cycle_length,\n  phase             = EXCLUDED.phase,\n  temperature_phase = EXCLUDED.temperature_phase,\n  temp_deviation    = EXCLUDED.temp_deviation,\n  is_period         = EXCLUDED.is_period,\n  has_migraine      = EXCLUDED.has_migraine,\n  has_pms           = EXCLUDED.has_pms,\n  has_cramps        = EXCLUDED.has_cramps;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        480
      ],
      "id": "rebuild-cycles-backfill",
      "name": "Rebuild cycles",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "YOUR_POSTGRES_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Run manually": {
      "main": [
        [
          {
            "node": "Set date range",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set date range": {
      "main": [
        [
          {
            "node": "Get sleep",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get daily sleep score",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get activity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get readiness",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get stress",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get workouts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get events/tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sleep": {
      "main": [
        [
          {
            "node": "Split sleep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get daily sleep score": {
      "main": [
        [
          {
            "node": "Split daily sleep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get activity": {
      "main": [
        [
          {
            "node": "Split activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get readiness": {
      "main": [
        [
          {
            "node": "Split readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get stress": {
      "main": [
        [
          {
            "node": "Split stress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get workouts": {
      "main": [
        [
          {
            "node": "Split workouts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get events/tags": {
      "main": [
        [
          {
            "node": "Split events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split sleep": {
      "main": [
        [
          {
            "node": "Insert sleep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split daily sleep": {
      "main": [
        [
          {
            "node": "Insert daily sleep score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split activity": {
      "main": [
        [
          {
            "node": "Insert activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split readiness": {
      "main": [
        [
          {
            "node": "Insert readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split stress": {
      "main": [
        [
          {
            "node": "Insert stress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split workouts": {
      "main": [
        [
          {
            "node": "Insert workouts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split events": {
      "main": [
        [
          {
            "node": "Insert events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get heart rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get heart rate": {
      "main": [
        [
          {
            "node": "Split heart rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split heart rate": {
      "main": [
        [
          {
            "node": "Insert heart rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert events": {
      "main": [
        [
          {
            "node": "Rebuild cycles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSIONID",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "GRaMPD-_ngQj94zgsHqk7",
  "tags": []
}